footer {
	position: relative;

	h4 {
		color: $white;
		margin-bottom: 30px;
	}

	ul {
		padding: 0;

		li {
			margin-bottom: 16px;
			list-style-type: none !important;

			a {
				color: $gray;
				font-weight: 500;

				&:hover {
					color: darken($gray, 30%);
				}
			}

		}
	}

	p {
		color: $gray;
		margin: 0;
	}

	.footer-socials {
		a {
			color: $white;
			transition: color 0.5s;
		}

		a:hover {
			color: darken($white, 50%);
		}
	}
}