header {
	position: relative;

	ul {
		margin: 0;

		li {
			padding: 14px 0;
			margin-right: 40px;
			font-weight: 500;

			&:last-child {
				margin-right: 0;
			}

		}

		.current-menu-item {
			border-bottom: 2px solid $white;
		}

	}

	a {
		color: white;

		&:hover {
			color: darken($white, 30%);
		}
	}

}