.section-single-page-content {
  .single-container {
    padding: 0 284px;

    p {
      margin-bottom: 64px;
      @include font-size(22px);
    }

    h3 {
      margin-bottom: 32px;
      margin-top: 64px;
    }

    p,
    h3,
    h4 {
      padding: 0 142px;
    }

    @include media-breakpoint-down(xxl) {
      padding: 0 200px;

      p,
      h3,
      h4 {
        padding: 0 90px;
      }
    }

    @include media-breakpoint-down(xl) {
      padding: 0 150px;

    }

    @include media-breakpoint-down(lg) {
      padding: 0 70px;

      p,
      h3,
      h4 {
        padding: 0 50px;
        margin-bottom: 40px;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 0 20px;

      p,
      h3,
      h4 {
        padding: 0 20px;
        margin-bottom: 30px;
      }
    }


    .section-post-data {
      margin-top: -62px;
      z-index: 1;

      p {
        padding: 0;
        @include font-size(18px);
        margin-bottom: 16px;

      }

      h4 {
        padding: 0;
      }
    }

    iframe {
      width: 100%;
    }

    .wp-block-columns {
      display: flex;
    }

    .wp-block-column {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

    }

    img {
      margin-bottom: 8px;
    }

    .wp-element-caption {
      color: $gray-100;
      font-weight: 500;
      font-style: italic;
      line-height: 1;
    }
  }

  .section-post-plants {
    p {
      margin-bottom: 24px;
      @include font-size(16px);
    }

    img {
      padding: 0 142px;
      margin-bottom: 40px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }

      @include media-breakpoint-down(xxl) {
        padding: 0 90px;
      }

      @include media-breakpoint-down(lg) {
        padding: 0 50px;
        margin-bottom: 40px;
      }

      @include media-breakpoint-down(md) {
        padding: 0 20px;
        margin-bottom: 30px;
      }
    }
  }
}