@include keyframes(animationName) {
	0% {
		// declaration
	}

	100% {
		// declaration
	}
}

.lazy-fade {
	animation-name: lazy-fade;
	animation-duration: 1.5s;
}

@keyframes lazy-fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.loader-wrapper {
	background-color: rgba($black, 0.3);

	.loader {
		transform: translate(-50%, -50%);

		.icon-loader {
			width: 48px;
			height: 48px;
			border: 5px solid #FFF;
			border-bottom-color: #FF3D00;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			animation: rotation 1s linear infinite;
		}
	}
}


@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}